$ {
  const { isActive = false, class: className, href } = input;

  const activeClass = isActive && 'is-active';
}

<li class=[activeClass, className]>
  <a href="${isActive ? '#' : href}" ${isActive && "aria-current=\"page\""}>
    <include(input)/>
  </a>
</li>
