$ {
  const { size = 'medium', alignment, separator, class:className } = input;

  const sizeClass = size && `is-${size}`;
  const alignmentClass = alignment && `is-${alignment}`;
  const separatorClass = separator && `is-${separator}`;
}

<nav class=["breadcrumb", sizeClass, alignmentClass, separatorClass, className]
  aria-label="breadcrumbs">
  <ul>
    <include(input)/>
  </ul>
</nav>
